Repository Vector-Programming/VectorSessions, pull requests merged in 2018-05, with the labels that each got.

#9 Q4 Basics and Arrays Answer
  QuestionSets/PythonLanguage/BasicsAndArrays/Param_Kapur/Q4_answer_Param.py
Labels: invalid

#17 Add lecture notes for Gradient Descent for future use.
  MachineLearning/LectureNotes/GradientDescent/GradientDescent.ipynb
Labels: admin_stuff

#14 Added Solutions: Rajat
  QuestionSets/PythonLanguage/BasicsAndArrays/Rajat_Varma/Answer_1.py
  QuestionSets/PythonLanguage/BasicsAndArrays/Rajat_Varma/Answer_2.py
  QuestionSets/PythonLanguage/BasicsAndArrays/Rajat_Varma/Answer_3.py
  QuestionSets/PythonLanguage/BasicsAndArrays/Rajat_Varma/Answer_4.py
Labels: question

#18 SolutionSet_Python_Naman
  QuestionSets/PythonLanguage/BasicsAndArrays/Naman_Modani/Q1.py
  QuestionSets/PythonLanguage/BasicsAndArrays/Naman_Modani/Q2.py
  QuestionSets/PythonLanguage/BasicsAndArrays/Naman_Modani/Q3.py
  QuestionSets/PythonLanguage/BasicsAndArrays/Naman_Modani/Q4.py
Labels: question
